{% if not payment.is_confirmed %}
  <div class="alert alert-info">
    Der Status von Spenden per Überweisung aktualisiert sich erst zu Beginn des Folgemonats, da erst dann die Kontoauszüge abgeglichen werden.
  </div>
  <div class="card border-danger">
    <div class="card-header">
      {% if order.is_recurring %}
      <h3>Bitte richten Sie einen Dauerauftrag ein</h3>
    {% else %}
      <h3>Bitte überweisen Sie {{ order.total_gross }}&nbsp;EUR an</h3>
    {% endif %}
    </div>
    <div class="card-body">
      <p>
        <strong>Kontoinhaber:</strong>&nbsp;Forum Informationsfreiheit<br>
        <strong>IBAN:&nbsp;</strong>AT69 2011 1824 3494 2000<br>
        <strong>BIC:</strong>&nbsp;GIBAATWWXXX<br>
        <strong>Betrag:&nbsp;</strong>{{ order.total_gross }}&nbsp;EUR<br/>
        {% if order.is_recurring %}
          <strong>Turnus:&nbsp;</strong> {{ order.subscription.plan.get_interval_description }}<br/>
        {% endif %}
        <strong>Verwendungszweck:&nbsp;</strong>{{ order.remote_reference }}<br>
      </p>
      <p>
        Vielen Dank!
      </p>
    </div>
  </div>
{% endif %}