.DS_Store
*.egg-info
*.mo
*.pyc
*.db
local_settings.py
build/
fragdenstaat_at/theme/static/img/_*
fragdenstaat_at/theme/static/img/jurisdictions/*/*
fragdenstaat_at/theme/static/js/
fragdenstaat_at/theme/static/css/
fragdenstaat_at/theme/static/fonts/
.idea/
fds-env/
favicon-result.json
node_modules/
froide/
*.map
*hot-update.json
*hot-update.js
.venv
