{% extends "base.html" %}
{% load fds_cms_tags %}
{% load djangocms_alias_tags %}

{% block metadescription %}Das Portal für Informationsfreiheit in Österreich. Stellen Sie ein Auskunftsbegehren nach dem Informationsfreiheitsgesetz (IFG) an Behörden und Ämter – für Bürgerinnen und Bürger, Initiativen und Vereine. Informieren Sie sich über Informationsfreiheit, IFG-Anfragen, Transparenz, Behördeninformationen und Ihr Recht auf Zugang zu amtlichen Informationen.{% endblock metadescription %}

{% block body_extra_attributes %} data-staticurl="{{ STATIC_URL }}"{% if request.user.is_staff and SENTRY_JS_URL %} data-sentry="{{ SENTRY_JS_URL}}"{% endif %}{% endblock %}

{% block top_block %}
  <div class="dropdown-wrapper">
    {% static_alias "dropdown_banner" %}
  </div>
{% endblock %}

{% block footer_container %}
  <footer class="footer" id="footer">
    <div class="container">
      {% static_alias "footer" %}
    </div>
  </footer>
{% endblock %}

{% block scripts %}
  {{ block.super }}
{% endblock %}

{% block below_scripts %}
  {% block tracking_code %}{% include "snippets/tracking.html" %}{% endblock %}
{% endblock %}
