{% extends "froide_payment/subscription/default.html" %}

{% block custom_content %}
  <div class="card border-danger">
    <div class="card-header">
      <h3>Bitte richten Sie einen Dauerauftrag ein</h3>
    </div>
    <div class="card-body">
      <p>
        <strong>Kontoinhaber:</strong>&nbsp;Forum Informationsfreiheit<br>
        <strong>IBAN:&nbsp;</strong>AT69 2011 1824 3494 2000<br>
        <strong>BIC:</strong>&nbsp;GIBAATWWXXX<br>
        <strong>Betrag:&nbsp;</strong>{{ subscription.plan.total_gross }}&nbsp;EUR<br/>
        <strong>Turnus:&nbsp;</strong> {{ subscription.plan.get_interval_description }}<br/>
        <strong>Verwendungszweck:&nbsp;</strong>{{ subscription.remote_reference }}<br>
      </p>
    </div>
  </div>
{% endblock %}
