{% extends "foirequest/body/correspondence.html" %}

{% load i18n %}
{% load fds_cms_tags %}
{% load djangocms_alias_tags %}
{% load foirequest_tags %}


{% block foirequest_message_before_last %}
  <div class="d-print-none">
    {% static_alias "message_donation_banner" %}
  </div>
{% endblock %}

{% block foirequest_message_after_single %}
  <div class="d-print-none">
    {% static_alias "message_donation_banner" %}
  </div>
{% endblock %}

{% block after_foirequest_messages %}
    {{ block.super }}
{% endblock %}